= render "layouts/header"

.container
  .edit
    %h2.title レビュー情報を編集
    .form
      = form_with(model: @review, local: true, multipart: true) do |f|
        .image
          %h3.image__title
            投稿画像
          %p.image__attention 最大3枚まで選択できます
          %ul.image__upload
            = f.fields_for :images, builder: WithErrorFormBuilder do |fi|
              %li.upload-form
                = fi.label :image, class: 'upload-form__select-btn', for: "image" do
                  = fi.file_field :image, class: 'upload-form__select-btn--input_tag', id:"image"
        .spot
          = f.fields_for :spot do |s|
            .spot__title
              = s.label :address, "レビュー場所(Google Mapで検索)", class: 'spot__title'
            = s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'spot__text'
          %input{onclick: "codeAddress()", type: "button", value: "検索する"}
          #map{style: "height: 320px; max-width: 80%;"}
        .review
          .review__title
            = f.label :title, "タイトル", class: 'review__title__label'
          = f.text_field :title, class: 'review__title__text', placeholder: "タイトル名（必須20文字まで）"
          .review__tag
            = f.label :tag_list, "タグ(複数回答可)", class: 'review__tag__label'
          = f.text_field :tag_list, value: @review.tag_list.join(','), placeholder: "複数の場合は「,」で区切ってください", class: 'review__tag__text'
          .review__status
            = f.label :status, "ステータス", class: 'review__status__label'
          = f.select :status, Review.statuses.keys, {prompt: "---"}
          .review__rate
            = f.label :rating, "評価", class: 'review__rate__label'
          = f.select :rating,[[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], prompt: "---", class: 'review__rate__select'
          .review__content
            = f.label :discription, "レビュー内容", class: 'review__content__label'
          = f.text_area :description, class: 'review__content__text', placeholder: "レビューの内容を入力してください。"
        = f.submit "投稿する", class: 'post-btn'
      = link_to("もどる", review_path(@review), class: 'back-btn')
