%body
  %header
    %h1.top-logo
      = link_to "kokoiru", root_path
    %nav.search-container
      %ul.top-nav
        %li.favorite
          = link_to "お気に入り", "#"
        %li.registration
          = link_to "新規登録", "#"
        %li.login-menu
          = link_to "ログイン", "#"
        %li.listing
          = link_to "投稿する", root_path